:root {
    color-scheme: dark;
}

@keyframes astroFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes astroFadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
