@import "tailwindcss";

.markdown-content {
  @apply text-sm sm:text-base;

  :not(:last-child) {
    @apply my-4;
  }

  a {
    @apply underline decoration-gray-400 decoration-dashed decoration-1 underline-offset-4 transition-colors duration-100 hover:decoration-white;
  }

  blockquote {
    @apply my-4 rounded-md border-l-4 border-l-indigo-400 bg-[#1e1e2e] pl-3 [&>p]:py-2;
  }

  code:not(pre > code) {
    @apply bg-gray-800 px-2 py-1 rounded-md;
  }

  h1 {
    @apply scroll-mt-24 border-b border-b-gray-400 p-5 text-3xl font-bold;
  }

  h2 {
    @apply mb-4 scroll-mt-24 border-b border-b-gray-400 pt-5 pb-3 text-xl font-semibold md:text-2xl;
  }

  h2:before {
    @apply pr-2 text-gray-400;
    content: "#";
  }

  h3 {
    @apply mb-2 scroll-mt-24 border-b border-b-gray-400 pt-5 pb-3 text-lg font-bold md:text-xl;
  }

  hr {
    @apply mx-auto my-6 block h-[2px] w-[95%] rounded-[999px] bg-gray-700;
  }

  ol {
    @apply my-2 list-inside list-decimal space-y-2 leading-loose;
  }

  p {
    @apply leading-loose;
  }

  pre {
    @apply mx-auto my-3 rounded-lg p-4 font-mono;
  }

  ul {
    @apply my-2 list-inside list-disc leading-loose;
  }

  table {
    @apply mx-auto w-fit;
  }

  thead {
    @apply text-gray-50;
  }

  thead > tr > th {
    @apply px-6 py-4 bg-indigo-700;
  }

  thead > tr > th:first-child {
    @apply rounded-tl-md;
  }

  thead > tr > th:last-child {
    @apply rounded-tr-md;
  }

  tbody > tr:last-child > td:first-child {
    @apply rounded-bl-md;
  }

  tbody > tr:last-child > td:last-child {
    @apply rounded-br-md;
  }

  tbody > tr > td {
    @apply px-6 py-3;
  }

  tbody > tr:nth-child(odd) > td {
    @apply bg-gray-800;
  }

  tbody > tr:nth-child(even) > td {
    @apply bg-gray-700;
  }

  pre.has-focused {
    --blur: 2px;
    --opacity: 0.6;
  }

  pre.has-focused:hover {
    --blur: 0;
    --opacity: 1;
  }

  .line:not(.focused) {
    transition:
      filter 0.3s,
      opacity 0.3s;
    filter: blur(var(--blur));
    opacity: var(--opacity);
  }

  .diff.add::before {
    content: "+ ";
    color: #a6adc8;
  }

  .diff.remove::before {
    content: "- ";
    color: #a6adc8;
  }

  .diff.add {
    background-color: rgb(166, 227, 161, 0.3);
  }

  .diff.remove {
    background-color: rgba(243, 139, 168, 0.3);
    opacity: 0.8;
    transition: opacity 0.3s;
    text-decoration: line-through;
  }

  .diff.remove:hover {
    opacity: 1;
    text-decoration: none;
  }

  .markdown-content > p > code {
    padding: 4px 4px 4px 4px;
    background-color: #2c2c42;
  }
}
