---
import Base from "../layouts/main.astro";
import Button from "../components/Button.astro";
---

<Base title="404 Not found" desc="Are you lost?">
  <div
    class="grid gap-y-12 place-items-center content-center h-screen"
  >
    <div>
      <p class="text-6xl font-extrabold md:text-7xl">404 Not Found</p>
    </div>
    <div class="grid grid-cols-2 gap-x-4">
      <Button
        link="/"
        glow={true}
      >
        <p>Back to home page</p>
      </Button>
      <Button
        link="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        target="_blank"
        className="border-indigo-200 hover:bg-indigo-200"
      >
        <p>Secret cookie</p>
      </Button>
    </div>
  </div>
</Base>
