---
import Base from "../layouts/main.astro";
---

<Base title="Wolf Yuan">
  <div class="grid place-items-center content-center h-screen">
    <div class="text-center">
      <p class="text-6xl font-extrabold md:text-7xl">404 Not Found</p>
    </div>
  </div>
</Base>
