---
import Base from "../layouts/main.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import List from "../components/List.astro";

import { Icon } from "astro-icon/components";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale;
---

<Base
  title="Homepage"
  openGraphTitle="I'm Wolf Yuan"
  description="I am a student developer from Taiwan specializing in JavaScript development. I am also skilled in front-end and back-end programming as well as Linux based server management."
>
  <section class="h-screen">
    <p class="pt-6 text-xl md:text-2xl">Hello, I'm</p>
    <p class="py-6 text-5xl font-extrabold md:text-6xl">Wolf Yuan</p>
    <p class="pb-10 pt-4 text-xl text-slate-300 md:text-2xl">
      A student from Taiwan 🇹🇼
    </p>
    <p class="text-md pb-5 pt-2 text-slate-200 md:text-lg">
      I'm also a
    </p>
    <p class="py-2 text-lg text-green-200 md:text-xl">
      Frontend / Backend Engineer
    </p>
    <p class="py-2 text-lg text-blue-200 md:text-xl">
      JavaScript Developer
    </p>
    <p class="py-2 text-lg text-yellow-200 md:text-xl">
      System Administrator
    </p>
    <div class="py-12">
      <div class="py-4">
        <Button
          link={getRelativeLocaleUrl(locale, "/blog")}
          className="border-indigo-400 hover:bg-indigo-400 hover:shadow-indigo-400 md:hover:translate-x-2 md:hover:scale-105"
          glow={true}
          prefetch="load"
        >
          <p class="md:text-md inline text-sm">
            Take a look at my blog
          </p>
          <Icon
            name="material-symbols:arrow-forward-rounded"
            class="inline"
          />
        </Button>
      </div>
      <div class="py-4">
        <Button
          link="https://w.wolf-yuan.dev/gitlab"
          target="_blank"
          className="border-orange-400 hover:bg-orange-400 hover:shadow-orange-500 md:hover:translate-x-2 md:hover:scale-105"
          glow={true}
        >
          <p class="md:text-md inline text-sm">
            Explore my GitLab Profile
          </p>
          <Icon
            name="material-symbols:arrow-forward-rounded"
            class="inline"
          />
        </Button>
      </div>
      <div class="py-4">
        <Button
          link="https://w.wolf-yuan.dev/github"
          target="_blank"
          className="border-violet-400 hover:bg-violet-400 hover:shadow-violet-400 md:hover:translate-x-2 md:hover:scale-105"
          glow={true}
        >
          <p class="md:text-md inline text-sm">
            Or go to my GitHub Profile
          </p>
          <Icon
            name="material-symbols:arrow-forward-rounded"
            class="inline"
          />
        </Button>
      </div>
    </div>
  </section>

  <section>
    <p class="py-12 text-2xl font-bold md:text-3xl">Experiences</p>
    <div class="grid gap-5">
      <div
        class="rounded-md border-2 border-indigo-400 bg-gray-800 px-6 py-4"
      >
        <p class="pb-4 pt-2 text-xl font-bold md:text-2xl">Present</p>
        <ul class="list-inside list-disc px-3 leading-loose">
          <li>Support @ Yeecord Community</li>
          <li>Technical Team @ SCINT</li>
        </ul>
      </div>
      <div
        class="rounded-md border-2 border-gray-500 bg-gray-800 px-6 py-4"
      >
        <p class="pb-4 pt-2 text-xl font-bold md:text-2xl">2024</p>
        <ul class="list-inside list-disc px-3 leading-loose">
          <li>Student @ SITCON Camp 2024</li>
          <li>Attendance @ SITCON Hackathon 2024</li>
          <li>Attendance @ SITCON 2024</li>
          <li>Attendance @ g0v Summit 2024 Conference</li>
          <li>Finalist Team @ g0v sch001 4th</li>
          <li>Attendance @ g0v hackath61n</li>
        </ul>
      </div>
      <div
        class="rounded-md border-2 border-gray-500 bg-gray-800 px-6 py-4"
      >
        <p class="pb-4 pt-2 text-xl font-bold md:text-2xl">2023</p>
        <ul class="list-inside list-disc px-3 leading-loose">
          <li>Attendance @ COSCUP 2023</li>
          <li>Attendance @ g0v hackath59n</li>
        </ul>
      </div><div
        class="rounded-md border-2 border-gray-500 bg-gray-800 px-6 py-4"
      >
        <p class="pb-4 pt-2 text-xl font-bold md:text-2xl">2020</p>
        <ul class="list-inside list-disc px-3 leading-loose">
          <li>Created Black Cat Discord music bot (~2022)</li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <p class="py-12 text-2xl font-bold md:text-3xl">Tech cookies</p>
    <div class="grid grid-flow-row grid-cols-1 gap-6">
      <div
        class="rounded-md border-2 border-violet-400 bg-gray-800 px-2 py-4"
      >
        <p class="px-4 pb-4 text-xl font-bold">Using</p>
        <div
          class="flex flex-row items-center overflow-x-auto [&>div]:flex [&>div]:flex-row [&>div]:items-center [&>div]:gap-4 [&>div]:px-4"
        >
          <div>
            <Icon
              name="simple-icons:fedora"
              class="text-lg md:text-xl"
            />
            <p class="text-md text-nowrap md:text-lg">Fedora</p>
          </div>
          <div>
            <Icon
              name="simple-icons:javascript"
              class="text-lg md:text-xl"
            />
            <p class="text-md text-nowrap md:text-lg">JavaScript</p>
          </div>
          <div>
            <Icon
              name="simple-icons:nodedotjs"
              class="text-lg md:text-xl"
            />
            <p class="text-md text-nowrap md:text-lg">Node.js</p>
          </div>
          <div>
            <Icon
              name="simple-icons:docker"
              class="text-lg md:text-xl"
            />
            <p class="text-md text-nowrap md:text-lg">Docker</p>
          </div>
        </div>
      </div>
      <div
        class="rounded-md border-2 border-amber-400 bg-gray-800 px-2 py-4"
      >
        <p class="px-4 pb-4 text-xl font-bold">Learning</p>
        <div
          class="flex flex-row items-center overflow-x-auto [&>div]:flex [&>div]:flex-row [&>div]:items-center [&>div]:gap-4 [&>div]:px-4"
        >
          <div>
            <Icon
              name="simple-icons:typescript"
              class="text-lg md:text-xl"
            />
            <p class="text-md text-nowrap md:text-lg">TypeScript</p>
          </div>
          <div>
            <Icon
              name="simple-icons:react"
              class="text-lg md:text-xl"
            />
            <p class="text-md text-nowrap md:text-lg">React</p>
          </div>
          <div>
            <Icon
              name="simple-icons:cplusplus"
              class="text-lg md:text-xl"
            />
            <p class="text-md text-nowrap md:text-lg">C++</p>
          </div>
        </div>
      </div>
      <div
        class="rounded-md border-2 border-red-400 bg-gray-800 px-2 py-4"
      >
        <p class="px-4 pb-4 text-xl font-bold">Want to learn</p>
        <div
          class="flex flex-row items-center overflow-x-auto [&>div]:flex [&>div]:flex-row [&>div]:items-center [&>div]:gap-4 [&>div]:px-4"
        >
          <div>
            <Icon
              name="simple-icons:rust"
              class="text-lg md:text-xl"
            />
            <p class="text-md text-nowrap md:text-lg">Rust</p>
          </div>
          <div>
            <Icon
              name="simple-icons:kubernetes"
              class="text-lg md:text-xl"
            />
            <p class="text-md text-nowrap md:text-lg">Kubernetes</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <p class="py-12 text-2xl font-bold md:text-3xl">Projects</p>

    <div
      class="grid grid-flow-row grid-cols-1 content-start gap-8 md:grid-cols-2 md:gap-6"
    >
      <Card
        title="Dolphin Container"
        description="Dolphin container image is a container image that helps you to deploy your code to vaiorus hosting provider with ease."
        link="https://w.wolf-yuan.dev/projects/dolphin"
        linkDescription="gitlab.com/wolf-yuan/dolphin"
        className="border-cyan-400 hover:bg-cyan-400"
        target="_blank"
        icons={[
          "simple-icons:docker",
          "material-symbols:construction-rounded",
        ]}
      />
      <Card
        title="Black Cat"
        description="Black cat is a Discord music bot written in TypeScript and Discord.js."
        link="https://w.wolf-yuan.dev/projects/blackcat"
        linkDescription="gitlab.com/wolf-yuan/blackcat"
        className="border-gray-50 hover:bg-gray-50 hover:text-gray-600"
        target="_blank"
        icons={[
          "simple-icons:nodedotjs",
          "simple-icons:typescript",
          "simple-icons:discord",
          "material-symbols:construction-rounded",
        ]}
      />
      <Card
        title="Rep0rter"
        description="Rep0rter is a g0v project, it collects information and sends weekly newsletter."
        link="https://w.wolf-yuan.dev/projects/rep0rter"
        linkDescription="github.com/rep0rter"
        className="border-red-400 hover:bg-red-400"
        target="_blank"
        appearedIn="g0v sch001 4th"
        icons={[
          "simple-icons:nodedotjs",
          "simple-icons:googlegemini",
          "simple-icons:typescript",
          "material-symbols:construction-rounded",
        ]}
      />
      <Card
        title="Droppler"
        description="Droppler is a LINE bot, it will automatically warn group members if the message is suspicious by using the Google Gemini API."
        link="https://w.wolf-yuan.dev/projects/droppler"
        linkDescription="github.com/LanCoCafe/droppler"
        className="border-green-400 hover:bg-green-400"
        target="_blank"
        appearedIn="SITCON Hackathon 2024"
        icons={[
          "simple-icons:python",
          "simple-icons:googlegemini",
          "simple-icons:line",
          "material-symbols:construction-rounded",
        ]}
      />
      <Card
        title="Busify"
        description="Busify is a concept Telegram bot providing real-time bus information. It will notify you when you need to get on or off the bus."
        link="https://w.wolf-yuan.dev/projects/busify"
        linkDescription="gitlab.com/wolf-yuan/busify"
        className="border-blue-400 hover:bg-blue-400"
        target="_blank"
        appearedIn="SITCON Camp 2024"
        icons={[
          "simple-icons:python",
          "simple-icons:telegram",
          "material-symbols:construction-rounded",
        ]}
      />
    </div>
  </section>

  <section>
    <p class="py-12 text-2xl font-bold md:text-3xl">Contribution</p>

    <div class="grid gap-6">
      <List
        title="Yeecord Website"
        description="Yeecord is a multi function Discord bot, serving more than 250,000 Discord servers."
        link="https://yeecord.com"
        className="border-[#9cca95] hover:bg-[#9cca95]"
        changed="Fixed several UI glitches"
        icons={["simple-icons:typescript", "simple-icons:nextdotjs"]}
      />
      <List
        title="Lava"
        description="Lava is a open source Discord music bot driven by Lavalink. "
        link="https://github.com/Nat1anWasTaken/Lava"
        className="border-red-400 hover:bg-red-400"
        changed="Docker support, introduced Docker bake file, s6overlay support"
        icons={[
          "simple-icons:python",
          "simple-icons:docker",
          "simple-icons:discord",
        ]}
      />
      <List
        title="Easy Effects"
        description="Audio effects for Pipewire applications."
        link="https://github.com/wwmm/easyeffects"
        className="border-blue-400 hover:bg-blue-400"
        changed="Added Chinese Traditional translation"
        icons={["simple-icons:cplusplus", "simple-icons:linux"]}
      />
      <List
        title="Cavalier"
        description="Visualize audio with CAVA."
        link="https://github.com/NickvisionApps/Cavalier"
        className="border-orange-500 hover:bg-orange-500"
        changed="Added Chinese Traditional translation"
        icons={["simple-icons:csharp", "simple-icons:linux"]}
      />
      <List
        title="EvoBot"
        description="EvoBot is a Discord music bot written in TypeScript and Discord.js."
        link="https://github.com/eritislami/evobot"
        className="border-zinc-400 hover:border-zinc-600 hover:bg-zinc-600 hover:text-zinc-100"
        changed="Contributed to the project at project early stage"
        icons={["simple-icons:typescript", "simple-icons:discord"]}
      />
    </div>
  </section>

  <section>
    <p
      class="pb-4 pt-12 text-center text-xl font-semibold md:text-2xl"
    >
      Having ideas?
    </p>
    <p
      class="text-center text-lg font-semibold text-gray-400 md:text-xl"
    >
      Chat with me via email at
      <a
        href="mailto:me@wolf-yuan.dev?subject=I%20have%20some%20ideas!"
        class="underline decoration-gray-500 decoration-dotted transition-colors duration-100 hover:decoration-white"
      >
        me@wolf-yuan.dev
      </a>
    </p>
  </section>
</Base>
