---
import Base from "../layouts/main.astro";
---

<Base title="Wolf Yuan">
  <div class="mx-7">
    <div class="flex">
      <div>
        <p class="py-12 text-6xl md:text-7xl text-indigo-400 title">
          Wolf Yuan
        </p>
      </div>
      <div><p class="text-3xl">Student Dev</p></div>
    </div>
  </div>
</Base>
