---
import Base from "../layouts/main.astro";
---

<Base title="Wolf Yuan">
  <div class="mx-7">
    <div class="flex place-content-center">
      <div>
        <p class="py-12 text-6xl font-bold md:text-7xl title">
          Wolf Yuan
        </p>
      </div>
    </div>
  </div>
</Base>
