---
import Base from "../layouts/main.astro";
---

<Base title="Wolf Yuan">
  <div class="mx-7">
    <div class="flex place-content-center">
      <div>
        <p class="py-12 text-6xl font-extrabold md:text-7xl">
          Wolf Yuan
        </p>
        <p class="text-xl text-slate-400 py-2">(Not a)</p>
        <p class="text-2xl text-blue-200 py-2">Software Engineer</p>
        <p class="text-2xl text-yellow-200 py-2">
          System Administrators
        </p>
      </div>
    </div>
  </div>
</Base>
