---
import Base from "../layouts/main.astro";
---

<Base title="Wolf Yuan">
  <div class="mx-7">
    <div class="flex place-content-center">
      <div>
        <p class="py-12 text-6xl font-bold md:text-7xl title">
          Wolf Yuan
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Doloribus modi vitae, eveniet corporis sed, iusto laudantium
          facilis distinctio iure consequatur aut accusantium.
          Molestias corrupti a dicta magni quidem aut quam explicabo.
          Laborum quasi magnam veniam est, quo ipsum! Quis, voluptas
          ipsa fuga rem repellat quisquam possimus tenetur unde soluta
          voluptate et delectus aliquid ratione fugit iste doloribus a
          vel in aperiam dignissimos! Vitae reiciendis tenetur
          exercitationem aperiam ipsam molestiae soluta amet, velit
          excepturi ipsum, nostrum repellendus placeat esse, ipsa quam
          facilis quasi aliquam enim natus quia neque odit illo.
          Corporis molestiae eaque laboriosam nam rerum esse magni
          expedita iste excepturi.S Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Doloribus modi vitae, eveniet
          corporis sed, iusto laudantium facilis distinctio iure
          consequatur aut accusantium. Molestias corrupti a dicta
          magni quidem aut quam explicabo. Laborum quasi magnam veniam
          est, quo ipsum! Quis, voluptas ipsa fuga rem repellat
          quisquam possimus tenetur unde soluta voluptate et delectus
          aliquid ratione fugit iste doloribus a vel in aperiam
          dignissimos! Vitae reiciendis tenetur exercitationem aperiam
          ipsam molestiae soluta amet, velit excepturi ipsum, nostrum
          repellendus placeat esse, ipsa quam facilis quasi aliquam
          enim natus quia neque odit illo. Corporis molestiae eaque
          laboriosam nam rerum esse magni expedita iste excepturi.S
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Doloribus modi vitae, eveniet corporis sed, iusto laudantium
          facilis distinctio iure consequatur aut accusantium.
          Molestias corrupti a dicta magni quidem aut quam explicabo.
          Laborum quasi magnam veniam est, quo ipsum! Quis, voluptas
          ipsa fuga rem repellat quisquam possimus tenetur unde soluta
          voluptate et delectus aliquid ratione fugit iste doloribus a
          vel in aperiam dignissimos! Vitae reiciendis tenetur
          exercitationem aperiam ipsam molestiae soluta amet, velit
          excepturi ipsum, nostrum repellendus placeat esse, ipsa quam
          facilis quasi aliquam enim natus quia neque odit illo.
          Corporis molestiae eaque laboriosam nam rerum esse magni
          expedita iste excepturi.S Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Doloribus modi vitae, eveniet
          corporis sed, iusto laudantium facilis distinctio iure
          consequatur aut accusantium. Molestias corrupti a dicta
          magni quidem aut quam explicabo. Laborum quasi magnam veniam
          est, quo ipsum! Quis, voluptas ipsa fuga rem repellat
          quisquam possimus tenetur unde soluta voluptate et delectus
          aliquid ratione fugit iste doloribus a vel in aperiam
          dignissimos! Vitae reiciendis tenetur exercitationem aperiam
          ipsam molestiae soluta amet, velit excepturi ipsum, nostrum
          repellendus placeat esse, ipsa quam facilis quasi aliquam
          enim natus quia neque odit illo. Corporis molestiae eaque
          laboriosam nam rerum esse magni expedita iste excepturi.S
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Doloribus modi vitae, eveniet corporis sed, iusto laudantium
          facilis distinctio iure consequatur aut accusantium.
          Molestias corrupti a dicta magni quidem aut quam explicabo.
          Laborum quasi magnam veniam est, quo ipsum! Quis, voluptas
          ipsa fuga rem repellat quisquam possimus tenetur unde soluta
          voluptate et delectus aliquid ratione fugit iste doloribus a
          vel in aperiam dignissimos! Vitae reiciendis tenetur
          exercitationem aperiam ipsam molestiae soluta amet, velit
          excepturi ipsum, nostrum repellendus placeat esse, ipsa quam
          facilis quasi aliquam enim natus quia neque odit illo.
          Corporis molestiae eaque laboriosam nam rerum esse magni
          expedita iste excepturi.S Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Doloribus modi vitae, eveniet
          corporis sed, iusto laudantium facilis distinctio iure
          consequatur aut accusantium. Molestias corrupti a dicta
          magni quidem aut quam explicabo. Laborum quasi magnam veniam
          est, quo ipsum! Quis, voluptas ipsa fuga rem repellat
          quisquam possimus tenetur unde soluta voluptate et delectus
          aliquid ratione fugit iste doloribus a vel in aperiam
          dignissimos! Vitae reiciendis tenetur exercitationem aperiam
          ipsam molestiae soluta amet, velit excepturi ipsum, nostrum
          repellendus placeat esse, ipsa quam facilis quasi aliquam
          enim natus quia neque odit illo. Corporis molestiae eaque
          laboriosam nam rerum esse magni expedita iste excepturi.S
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Doloribus modi vitae, eveniet corporis sed, iusto laudantium
          facilis distinctio iure consequatur aut accusantium.
          Molestias corrupti a dicta magni quidem aut quam explicabo.
          Laborum quasi magnam veniam est, quo ipsum! Quis, voluptas
          ipsa fuga rem repellat quisquam possimus tenetur unde soluta
          voluptate et delectus aliquid ratione fugit iste doloribus a
          vel in aperiam dignissimos! Vitae reiciendis tenetur
          exercitationem aperiam ipsam molestiae soluta amet, velit
          excepturi ipsum, nostrum repellendus placeat esse, ipsa quam
          facilis quasi aliquam enim natus quia neque odit illo.
          Corporis molestiae eaque laboriosam nam rerum esse magni
          expedita iste excepturi.S Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Doloribus modi vitae, eveniet
          corporis sed, iusto laudantium facilis distinctio iure
          consequatur aut accusantium. Molestias corrupti a dicta
          magni quidem aut quam explicabo. Laborum quasi magnam veniam
          est, quo ipsum! Quis, voluptas ipsa fuga rem repellat
          quisquam possimus tenetur unde soluta voluptate et delectus
          aliquid ratione fugit iste doloribus a vel in aperiam
          dignissimos! Vitae reiciendis tenetur exercitationem aperiam
          ipsam molestiae soluta amet, velit excepturi ipsum, nostrum
          repellendus placeat esse, ipsa quam facilis quasi aliquam
          enim natus quia neque odit illo. Corporis molestiae eaque
          laboriosam nam rerum esse magni expedita iste excepturi.S
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Doloribus modi vitae, eveniet corporis sed, iusto laudantium
          facilis distinctio iure consequatur aut accusantium.
          Molestias corrupti a dicta magni quidem aut quam explicabo.
          Laborum quasi magnam veniam est, quo ipsum! Quis, voluptas
          ipsa fuga rem repellat quisquam possimus tenetur unde soluta
          voluptate et delectus aliquid ratione fugit iste doloribus a
          vel in aperiam dignissimos! Vitae reiciendis tenetur
          exercitationem aperiam ipsam molestiae soluta amet, velit
          excepturi ipsum, nostrum repellendus placeat esse, ipsa quam
          facilis quasi aliquam enim natus quia neque odit illo.
          Corporis molestiae eaque laboriosam nam rerum esse magni
          expedita iste excepturi.S Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Doloribus modi vitae, eveniet
          corporis sed, iusto laudantium facilis distinctio iure
          consequatur aut accusantium. Molestias corrupti a dicta
          magni quidem aut quam explicabo. Laborum quasi magnam veniam
          est, quo ipsum! Quis, voluptas ipsa fuga rem repellat
          quisquam possimus tenetur unde soluta voluptate et delectus
          aliquid ratione fugit iste doloribus a vel in aperiam
          dignissimos! Vitae reiciendis tenetur exercitationem aperiam
          ipsam molestiae soluta amet, velit excepturi ipsum, nostrum
          repellendus placeat esse, ipsa quam facilis quasi aliquam
          enim natus quia neque odit illo. Corporis molestiae eaque
          laboriosam nam rerum esse magni expedita iste excepturi.S
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Doloribus modi vitae, eveniet corporis sed, iusto laudantium
          facilis distinctio iure consequatur aut accusantium.
          Molestias corrupti a dicta magni quidem aut quam explicabo.
          Laborum quasi magnam veniam est, quo ipsum! Quis, voluptas
          ipsa fuga rem repellat quisquam possimus tenetur unde soluta
          voluptate et delectus aliquid ratione fugit iste doloribus a
          vel in aperiam dignissimos! Vitae reiciendis tenetur
          exercitationem aperiam ipsam molestiae soluta amet, velit
          excepturi ipsum, nostrum repellendus placeat esse, ipsa quam
          facilis quasi aliquam enim natus quia neque odit illo.
          Corporis molestiae eaque laboriosam nam rerum esse magni
          expedita iste excepturi.S Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Doloribus modi vitae, eveniet
          corporis sed, iusto laudantium facilis distinctio iure
          consequatur aut accusantium. Molestias corrupti a dicta
          magni quidem aut quam explicabo. Laborum quasi magnam veniam
          est, quo ipsum! Quis, voluptas ipsa fuga rem repellat
          quisquam possimus tenetur unde soluta voluptate et delectus
          aliquid ratione fugit iste doloribus a vel in aperiam
          dignissimos! Vitae reiciendis tenetur exercitationem aperiam
          ipsam molestiae soluta amet, velit excepturi ipsum, nostrum
          repellendus placeat esse, ipsa quam facilis quasi aliquam
          enim natus quia neque odit illo. Corporis molestiae eaque
          laboriosam nam rerum esse magni expedita iste excepturi.S
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Doloribus modi vitae, eveniet corporis sed, iusto laudantium
          facilis distinctio iure consequatur aut accusantium.
          Molestias corrupti a dicta magni quidem aut quam explicabo.
          Laborum quasi magnam veniam est, quo ipsum! Quis, voluptas
          ipsa fuga rem repellat quisquam possimus tenetur unde soluta
          voluptate et delectus aliquid ratione fugit iste doloribus a
          vel in aperiam dignissimos! Vitae reiciendis tenetur
          exercitationem aperiam ipsam molestiae soluta amet, velit
          excepturi ipsum, nostrum repellendus placeat esse, ipsa quam
          facilis quasi aliquam enim natus quia neque odit illo.
          Corporis molestiae eaque laboriosam nam rerum esse magni
          expedita iste excepturi.S Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Doloribus modi vitae, eveniet
          corporis sed, iusto laudantium facilis distinctio iure
          consequatur aut accusantium. Molestias corrupti a dicta
          magni quidem aut quam explicabo. Laborum quasi magnam veniam
          est, quo ipsum! Quis, voluptas ipsa fuga rem repellat
          quisquam possimus tenetur unde soluta voluptate et delectus
          aliquid ratione fugit iste doloribus a vel in aperiam
          dignissimos! Vitae reiciendis tenetur exercitationem aperiam
          ipsam molestiae soluta amet, velit excepturi ipsum, nostrum
          repellendus placeat esse, ipsa quam facilis quasi aliquam
          enim natus quia neque odit illo. Corporis molestiae eaque
          laboriosam nam rerum esse magni expedita iste excepturi.S
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Doloribus modi vitae, eveniet corporis sed, iusto laudantium
          facilis distinctio iure consequatur aut accusantium.
          Molestias corrupti a dicta magni quidem aut quam explicabo.
          Laborum quasi magnam veniam est, quo ipsum! Quis, voluptas
          ipsa fuga rem repellat quisquam possimus tenetur unde soluta
          voluptate et delectus aliquid ratione fugit iste doloribus a
          vel in aperiam dignissimos! Vitae reiciendis tenetur
          exercitationem aperiam ipsam molestiae soluta amet, velit
          excepturi ipsum, nostrum repellendus placeat esse, ipsa quam
          facilis quasi aliquam enim natus quia neque odit illo.
          Corporis molestiae eaque laboriosam nam rerum esse magni
          expedita iste excepturi.S Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Doloribus modi vitae, eveniet
          corporis sed, iusto laudantium facilis distinctio iure
          consequatur aut accusantium. Molestias corrupti a dicta
          magni quidem aut quam explicabo. Laborum quasi magnam veniam
          est, quo ipsum! Quis, voluptas ipsa fuga rem repellat
          quisquam possimus tenetur unde soluta voluptate et delectus
          aliquid ratione fugit iste doloribus a vel in aperiam
          dignissimos! Vitae reiciendis tenetur exercitationem aperiam
          ipsam molestiae soluta amet, velit excepturi ipsum, nostrum
          repellendus placeat esse, ipsa quam facilis quasi aliquam
          enim natus quia neque odit illo. Corporis molestiae eaque
          laboriosam nam rerum esse magni expedita iste excepturi.S
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Doloribus modi vitae, eveniet corporis sed, iusto laudantium
          facilis distinctio iure consequatur aut accusantium.
          Molestias corrupti a dicta magni quidem aut quam explicabo.
          Laborum quasi magnam veniam est, quo ipsum! Quis, voluptas
          ipsa fuga rem repellat quisquam possimus tenetur unde soluta
          voluptate et delectus aliquid ratione fugit iste doloribus a
          vel in aperiam dignissimos! Vitae reiciendis tenetur
          exercitationem aperiam ipsam molestiae soluta amet, velit
          excepturi ipsum, nostrum repellendus placeat esse, ipsa quam
          facilis quasi aliquam enim natus quia neque odit illo.
          Corporis molestiae eaque laboriosam nam rerum esse magni
          expedita iste excepturi.S
        </p>
      </div>
    </div>
  </div>
</Base>
