---
import Base from "../layouts/main.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";

import { Icon } from "astro-icon/components";
---

<Base title="Wolf Yuan" desc="Homepage">
  <div class="min-h-screen">
    <div>
      <p class="text-2xl md:text-3xl pt-10">Hello, I'm</p>
      <p class="py-6 text-5xl font-extrabold md:text-7xl">
        Wolf Yuan
      </p>
      <p class="pb-10 text-xl md:text-2xl text-slate-300">
        A student from Taiwan 🇹🇼
      </p>
      <p class="text-md md:text-xl text-slate-200 pt-2 pb-5">
        I'm also a
      </p>
      <p class="text-xl md:text-2xl text-green-200 py-2">
        Frontend / Backend Engineer
      </p>
      <p class="text-xl md:text-2xl text-blue-200 py-2">
        JavaScript Developer
      </p>
      <p class="text-xl md:text-2xl text-yellow-200 py-2">
        System Administrator
      </p>
      <div class="py-12">
        <div class="py-4">
          <Button
            link="https://gitlab.com/wolf-yuan"
            target="_blank"
            className="border-orange-400 hover:bg-orange-400 hover:shadow-orange-500"
            glow={true}
          >
            <p class="inline text-sm md:text-lg">
              Explore my GitLab Profile
            </p>
            <Icon
              name="material-symbols:arrow-forward-rounded"
              class="inline"
            />
          </Button>
        </div>
        <div class="py-4">
          <Button
            link="https://github.com/wolf-yuan-6115/"
            target="_blank"
            className="border-violet-400 hover:bg-violet-400 hover:shadow-violet-400"
            glow={true}
          >
            <p class="inline text-sm md:text-lg">
              Or go to my GitHub Profile
            </p>
            <Icon
              name="material-symbols:arrow-forward-rounded"
              class="inline"
            />
          </Button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p class="py-12 text-3xl font-extrabold md:text-4xl">Projects</p>

    <div
      class="grid grid-cols-1 md:grid-cols-2 grid-flow-row content-start gap-7"
    >
      <Card
        title="Yeecord Website"
        desc="Yeecord is a multi function Discord bot, serving more than 250,000 Discord servers."
        link="https://yeecord.com"
        linkName="yeecord.com"
        className="border-[#9cca95] hover:bg-[#9cca95]"
        target="_blank"
        icons={[
          {
            icon: "simple-icons:typescript",
          },
          {
            icon: "simple-icons:nextdotjs",
          },
        ]}
      />
      <Card
        title="Dolphin Container"
        desc="Dolphin container image is a container image that helps you to deploy your code to vaiorus hosting provider with ease."
        link="https://gitlab.com/wolf-yuan/dolphin"
        linkName="gitlab.com/wolf-yuan/dolphin"
        className="border-cyan-400 hover:bg-cyan-400"
        target="_blank"
        icons={[
          {
            icon: "simple-icons:docker",
          },
        ]}
      />
      <Card
        title="Black Cat"
        desc="Black cat is a Discord music bot written in TypeScript and Discord.js"
        link="https://gitlab.com/wolf-yuan/blackcat"
        linkName="gitlab.com/wolf-yuan/blackcat"
        className="border-gray-50  hover:bg-gray-50 hover:text-gray-600"
        target="_blank"
        icons={[
          {
            icon: "simple-icons:nodedotjs",
          },
          {
            icon: "simple-icons:typescript",
          },
          {
            icon: "simple-icons:discord",
          },
        ]}
      />
      <Card
        title="Rep0rter"
        desc="Rep0rter is a g0v project, it collects information and sends weekly newsletter."
        link="https://github.com/rep0rter"
        linkName="github.com/rep0rter"
        className="border-red-400  hover:bg-red-400 "
        target="_blank"
        icons={[
          {
            icon: "simple-icons:nodedotjs",
          },
          {
            icon: "simple-icons:typescript",
          },
        ]}
      />
    </div>
  </div>
</Base>
