---
import OptimizePicture from "../OptimizePicture.astro";
import { twMerge } from "tailwind-merge";
const props = Astro.props;
---

<div class="py-4">
  <OptimizePicture
    class={twMerge(props.class, "mx-auto w-[85%] aspect-auto")}
    maxViewport="1280"
    maxWidth="1088"
    {...props}
  >
    <slot />
  </OptimizePicture>
  <p class="mt-4 text-center text-sm italic">{props.alt}</p>
</div>
