---
import { twMerge } from "tailwind-merge";
const props = Astro.props;
---

<div class="py-4">
  <img class={twMerge(props.class, "mx-auto max-w-2xl w-auto h-auto rounded-md")} {...props}><slot /></img>
  <p class="italic text-sm text-center mt-4">{props.alt}</p>
</div>

