---
import OptimizePicture from "../OptimizePicture.astro";
import { twMerge } from "tailwind-merge";
const props = Astro.props;
---

<div class="py-4">
  <OptimizePicture
    class={twMerge(
      props.class,
      "mx-auto max-w-[85%] md:max-w-[90%] w-auto h-auto rounded",
    )}
    {...props}
  >
    <slot />
  </OptimizePicture>
  <p class="mt-4 text-center text-sm italic">{props.alt}</p>
</div>
