---
import { twMerge } from "tailwind-merge";
const { className, link, target } = Astro.props;
---

<a href={link} target={target ?? "_self"} class="w-fit">
  <div
    class={twMerge(
      "px-5 py-3 bg-gray-800 border-2 border-emerald-200 border-solid hover:bg-emerald-200 hover:text-gray-800 duration-300",
      className,
    )}
  >
    <slot />
  </div>
</a>
