---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import strings from "../i18n/strings.js";
import notDevelopedByEnglish from "../assets/not_developed_ai_english.svg";
import notDevelopedByAIChinese from "../assets/not_developed_ai_chinese.svg";
import notWrittenByEnglish from "../assets/not_written_ai_english.svg";
import notWrittenByAIChinese from "../assets/not_written_ai_chinese.svg";

const notByAIImage =
  Astro.url.pathname.startsWith("/blog") ||
  Astro.url.pathname.startsWith("/zh-tw/blog")
    ? Astro.currentLocale === "en"
      ? notWrittenByEnglish
      : notWrittenByAIChinese
    : Astro.currentLocale === "en"
      ? notDevelopedByEnglish
      : notDevelopedByAIChinese;

const t = strings.footer[Astro.currentLocale];
---

<footer
  class="mt-8 bg-gray-950"
  transition:name="footer"
  transition:animate="none"
>
  <div class="mx-auto max-w-7xl px-6 py-6 lg:px-4">
    <div class="grid grid-flow-row grid-cols-1 gap-4 md:grid-cols-2">
      <div class="flex flex-col gap-4 md:justify-between md:gap-0">
        <p class="pt-2 text-xl font-bold md:pt-0 md:text-2xl">
          <a
            href="https://w.wolf-yuan.dev/projects/website"
            target="_blank"
            class="transition-colors duration-200 hover:text-gray-400"
          >
            <Icon name="simple-icons:gitlab" class="inline" />
            wolf-yuan/website
          </a>
        </p>
        <p class="text-lg font-bold text-gray-400">
          {t.madewith}
          <a href="https://astro.build" target="_blank">
            <Icon
              name="simple-icons:astro"
              class="inline text-[#BC52EE]"
            />
            <span class="sr-only">Astro</span>
          </a>
          <a href="https://tailwindcss.com" target="_blank">
            <Icon
              name="simple-icons:tailwindcss"
              class="inline text-[#06B6D4]"
            />
            <span class="sr-only">Tailwind CSS</span>
          </a>
          {t.and}
          <Icon
            name="material-symbols:favorite-rounded"
            class="inline text-red-500"
          />
          {t.following}
        </p>
      </div>
      <div
        class="flex h-fit flex-col justify-between gap-6 text-xl text-gray-400 md:mx-6 md:text-2xl md:text-gray-50"
      >
        <div class="flex items-center gap-4 md:justify-end">
          <div class="w-fit">
            <a href="https://w.wolf-yuan.dev/facebook" class="w-fit">
              <Icon
                name="simple-icons:facebook"
                class="inline duration-300 hover:text-[#0866FF]"
              />
              <p class="sr-only">Facebook</p>
            </a>
          </div>
          <div class="w-fit">
            <a href="https://w.wolf-yuan.dev/instagram" class="w-fit">
              <Icon
                name="simple-icons:instagram"
                class="inline duration-300 hover:text-[#E4405F]"
              />
              <p class="sr-only">Instagram</p>
            </a>
          </div>
          <div class="w-fit">
            <a
              class="w-fit"
              href={getRelativeLocaleUrl(
                Astro.currentLocale === "en" ? "zh-tw" : "en",
                Astro.url.pathname.replace("/zh-tw", ""),
              )}
            >
              <Icon
                name="material-symbols:translate-rounded"
                class="inline duration-300 hover:text-indigo-400"
              />
              <p class="sr-only">Switch language 切換語言</p>
            </a>
          </div>
        </div>

        <Image
          src={notByAIImage}
          alt="Not developed by AI"
          loading="eager"
          class="md:ml-auto"
        />
      </div>
    </div>
  </div>
</footer>
