---
import { Icon } from "astro-icon/components";
---

<footer class="bg-gray-950 mt-8">
  <div class="mx-auto max-w-6xl py-6 px-6 lg:px-4">
    <div class="grid grid-flow-row grid-cols-1 md:grid-cols-2">
      <div>
        <p class="text-2xl md:text-3xl font-bold pt-2 pb-7">
          <a
            href="https://gitlab.com/wolf-yuan/website"
            target="_blank"
          >
            <Icon name="simple-icons:gitlab" class="inline" />
            wolf-yuan/website
          </a>
        </p>
        <p class="text-lg font-bold text-gray-400">
          Made with
          <a
            class="hover:text-gray-400"
            href="https://astro.build"
            target="_blank"
            ><Icon
              name="simple-icons:astro"
              class="inline text-[#BC52EE]"
            />
            <span class="sr-only">Astro</span>
          </a>
          <a
            class="hover:text-gray-400"
            href="https://react.dev"
            target="_blank"
            ><Icon
              name="simple-icons:react"
              class="inline text-[#61DAFB]"
            />
          </a>
          <a
            class="hover:text-gray-400"
            href="https://tailwindcss.com"
            target="_blank"
            ><Icon
              name="simple-icons:tailwindcss"
              class="inline text-[#06B6D4]"
            />
          </a>
          and
          <Icon name="fa6-solid:heart" class="inline text-red-500" />️
        </p>
      </div>
      <p class="sr-only">Socials</p>
      <div
        class="text-3xl flex flex-row justify-center md:justify-end items-center gap-6 h-fit mx-6 pt-4 md:pt-0"
      >
        <div class="w-fit">
          <a
            href="https://www.facebook.com/wolf.yuan.dev"
            class="w-fit"
          >
            <Icon
              name="simple-icons:facebook"
              class="inline hover:text-[#0866FF] duration-300"
            />
            <p class="sr-only">Facebook</p>
          </a>
        </div>
        <div class="w-fit">
          <a
            href="https://www.instagram.com/wolf.yuan.dev"
            class="w-fit"
          >
            <Icon
              name="simple-icons:instagram"
              class="inline hover:text-[#E4405F] duration-300"
            />
            <p class="sr-only">Instagram</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
