---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "astro-icon/components";
import strings from "../i18n/strings.js";

import avatarImage from "../assets/transparent_2000x2000.png";
import { twMerge } from "tailwind-merge";

const t = strings.nav[Astro.currentLocale];

const { fullPage = false } = Astro.props;
---

<nav
  class={twMerge(
    "js:nav-container top-0 z-10 flex justify-center backdrop-blur-xs duration-300",
    fullPage ? "fixed w-full xl:sticky" : "sticky",
  )}
>
  <div class="js:nav-padding w-full max-w-7xl px-5 py-6 duration-300">
    <div class="flex justify-between">
      <div>
        <div class="flex flex-row items-center gap-4">
          <a href={getRelativeLocaleUrl(Astro.currentLocale, "/")}>
            <div>
              <Image
                src={avatarImage}
                alt="Wolf Yuan avatar"
                width={56}
                height={56}
                class="h-9 w-9 object-fill"
                loading="eager"
              />
              <p class="sr-only">
                {t["image-alt"]}
              </p>
            </div>
          </a>
          <a
            href={getRelativeLocaleUrl(Astro.currentLocale, "/")}
            data-astro-prefetch
          >
            <div
              class="js:nav-title text-lg font-bold opacity-0 transition-opacity duration-300 sm:opacity-0"
            >
              Wolf Yuan
            </div>
            <p class="sr-only">
              {t["image-alt"]}
            </p>
          </a>
        </div>
      </div>
      <div>
        <div class="flex h-10 items-center justify-end gap-6">
          <div>
            <a
              href={getRelativeLocaleUrl(
                Astro.currentLocale,
                "/blog",
              )}
              class="text-gray-300 duration-300 hover:text-gray-50"
            >
              <div class="flex items-center justify-between md:gap-2">
                <Icon
                  name="material-symbols:newspaper-rounded"
                  class="text-lg md:text-base"
                />
                <p class="sr-only md:not-sr-only">{t["blog-title"]}</p
                >
              </div>
            </a>
          </div>
          <div>
            <a
              href={getRelativeLocaleUrl(
                Astro.currentLocale === "en" ? "zh-tw" : "en",
                Astro.url.pathname.replace("/zh-tw", ""),
              )}
              class="text-gray-300 duration-300 hover:text-gray-50"
            >
              <div class="flex items-center justify-between md:gap-2">
                <Icon
                  name="material-symbols:translate-rounded"
                  class="text-lg md:text-base"
                />
                <p class="sr-only inline md:not-sr-only"
                  >{t["switch-language"]}</p
                >
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("astro:page-load", () => {
    let navContainer = document.getElementsByClassName(
      "js:nav-container",
    )[0];
    let navPaddingArea =
      document.getElementsByClassName("js:nav-padding")[0];
    let navTitleElement =
      document.getElementsByClassName("js:nav-title")[0];
    let currentState = false;

    let compareScrollDistance = () => {
      if (window.scrollY > 52) {
        if (currentState) return;
        currentState = true;
        changeState(true);
      } else if (currentState) {
        currentState = false;
        changeState(false);
      }
    };

    let changeState = (state) => {
      if (state) {
        navContainer.classList.add(
          "bg-linear-to-b",
          "from-gray-950/90",
          "to-transparent",
        );

        navPaddingArea.classList.add("py-4");
        navPaddingArea.classList.remove("py-6");

        navTitleElement.classList.add("sm:opacity-100");
        navTitleElement.classList.remove("sm:opacity-0");
      } else {
        navContainer.classList.remove(
          "bg-linear-to-b",
          "from-gray-950/90",
          "to-transparent",
        );

        navPaddingArea.classList.add("py-6");
        navPaddingArea.classList.remove("py-4");

        navTitleElement.classList.add("sm:opacity-0");
        navTitleElement.classList.remove("sm:opacity-100");
      }
    };

    window.addEventListener("scroll", compareScrollDistance);
    compareScrollDistance();
  });
</script>
