<div
  class="pointer-events-none fixed top-0 left-0 z-50 h-screen w-screen place-items-center justify-center bg-gray-800/0 opacity-0 transition-all duration-300 ease-in-out"
  id="loader-overlay"
>
  <div
    class="flex h-full w-full flex-col place-items-center justify-center space-y-4"
  >
    <p class="text-xl font-bold">Loading</p>
    <p class="">Receiving radio waves...</p>
  </div>
</div>

<style>
  @reference "tailwindcss";

  .loader-started {
    @apply pointer-events-auto bg-gray-800/20 opacity-100 backdrop-blur-sm;
  }
</style>

<script is:inline>
  document.addEventListener("astro:before-preparation", (event) => {
    const originalLoader = event.loader;

    event.loader = async () => {
      const loaderOverlay = document.getElementById("loader-overlay");
      if (loaderOverlay) {
        loaderOverlay.classList.remove(
          "opacity-0",
          "pointer-events-none",
        );
        window.requestAnimationFrame(() => {
          loaderOverlay.classList.add("loader-started");
        });
      }

      await Promise.all([
        originalLoader(),
        new Promise((k) => setTimeout(k, 1000)),
      ]);

      if (loaderOverlay) {
        loaderOverlay.classList.remove("loader-started");
        loaderOverlay.classList.add(
          "pointer-events-none",
          "opacity-0",
        );

        await new Promise((k) => setTimeout(k, 300));
      }
    };
  });
</script>
