---
import strings from "../i18n/strings.js";

const t = strings["noscript"][Astro.currentLocale];
---

<noscript>
  <div class="sticky bottom-0 w-full bg-gray-950 duration-300">
    <div class="mx-auto max-w-6xl">
      <div class="w-full p-4 py-8">
        <p class="pb-4 text-xl font-extrabold">
          {t["title"]}
        </p>
        <p class="py-4 md:py-0">
          {t["description"]}
        </p>
        <p class="hidden md:block">
          {t["additional"]}
        </p>
      </div>
    </div>
  </div>
</noscript>
