---
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/noto-sans-tc/chinese-traditional-400.css";

import Nav from "../components/Nav.jsx";
import { SEO } from "astro-seo";
import { Image } from "astro:assets";

const { title, desc } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>{`${title} - Wolf Yuan`}</title>
    <SEO
      description={desc}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: desc,
          type: "profile",
          image: "https://wolf-yuan.dev/logo_512x512.webp"
        }
      }}
      twitter={{
        title: desc,
        card: "summary",
        site: "@wolfyuan1135"
      }}
    />
    <link rel="me" href="https://mastodon.wolf-yuan.dev/@wolf">
  </head>
  <body class="bg-gray-800 text-white">
    <Nav client:load>
      <a href="/">
        <Image
          src="/transparent_64x64.webp"
          alt="My avatar"
          width={40}
          height={40}
          class="rounded-md object-fill w-10 h-10"
        />
        <p class="sr-only">Click here to go back to the home page of this website</p>
      </a>
    </Nav>
    <div class="max-w-4xl mx-auto my-0">
      <slot />
    </div>
  </body>
</html>
