---
import "@fontsource-variable/jetbrains-mono/wght.css";
import "../styles/global.css";

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Noscript from "../components/Noscript.astro";
import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";
import strings from "../i18n/strings";
import { twMerge } from "tailwind-merge";

const {
  title,
  openGraphTitle,
  description,
  image,
  fullPage = false,
  noMaxWidth = false,
} = Astro.props;

const localeCode = Astro.currentLocale === "en" ? "en_US" : "zh_Hant";
const t = strings.seo[Astro.currentLocale];
---

<html
  lang={Astro.currentLocale === "en" ? "en" : "zh-Hant"}
  transition:name="root"
  transition:animate="none"
  class="scrollbar-stable overflow-y-auto"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>{`${title} - Wolf Yuan`}</title>
    <meta name="generator" content={Astro.generator} />
    <SEO
      description={description}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: openGraphTitle ?? title,
          type: "website",
          image: image ?? "https://wolf-yuan.dev/logo_512x512.webp",
        },
        optional: {
          locale: localeCode,
          localeAlternate: ["en_US", "zh_Hant"],
        },
      }}
      twitter={{
        title: openGraphTitle ?? title,
        description: description,
        card: "summary",
        site: "@wolfyuan1135",
        image: image ?? "https://wolf-yuan.dev/logo_512x512.webp",
      }}
    />

    <ClientRouter />
  </head>
  <body class="bg-gray-900 text-gray-50">
    <div
      class={twMerge(
        "flex flex-col",
        fullPage && "h-screen",
        !fullPage && "min-h-screen",
      )}
    >
      <Nav transition:persist />

      <div
        class={twMerge(
          "mx-auto mb-auto max-w-7xl",
          fullPage && "h-full",
        )}
        transition:name="content"
        transition:animate="fade"
      >
        <div class={twMerge("mx-7", fullPage && "h-full")}>
          <slot />
        </div>
      </div>

      <Footer class="place-self-end" transition:persist />
      <Noscript />
    </div>

    <style is:global>
      :root {
        color-scheme: dark;
      }

      @keyframes astroFadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      @keyframes astroFadeOut {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    </style>
  </body></html
>
