---
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/noto-sans-tc/chinese-traditional-400.css";

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { SEO } from "astro-seo";

const { title, desc } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>{`${title} - Wolf Yuan`}</title>
    <SEO
      description={desc}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: desc,
          type: "profile",
          image: "https://wolf-yuan.dev/logo_512x512.webp",
        },
      }}
      twitter={{
        title: desc,
        card: "summary",
        site: "@wolfyuan1135",
      }}
    />
    <link rel="me" href="https://mastodon.wolf-yuan.dev/@wolf" />
  </head>
  <body class="bg-gray-800 text-white">
    <Nav />
    
    <div class="max-w-6xl mx-auto my-0">
      <div class="mx-7">
        <slot />
      </div>
    </div>

    <Footer />
    <noscript>
      <div
        class="fixed bottom-0 w-full bg-gray-800 border-2 border-indigo-400 hover:opacity-40 duration-300"
      >
        <div class="max-w-7xl mx-auto select-none">
          <div class="w-full p-4">
            <p class="text-xl font-extrabold py-4">
              JavaScript is disabled
            </p>
            <p class="py-4 md:py-0">
              JavaScript is disabled on this site, some feature and
              styling on this page might break.
            </p>
            <p class="hidden md:block">
              This site uses Google Analysis with Cloudflare Zaraz,
              please consider installing uBlock Origin instead of
              blocking JavaScript.
            </p>
            <p class="hidden text-sm py-4 text-gray-500 md:block">
              You can't dismiss this alert, how can I let it disappear
              dynamically if you disabled JavaScript :)
            </p>
          </div>
        </div>
      </div>
    </noscript>
  </body>
</html>
