---
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/space-mono";
import "@fontsource/noto-sans-tc/chinese-traditional-400.css";
import "@fontsource/noto-sans-tc/chinese-traditional-700.css";

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Noscript from "../components/Noscript.astro";
import { SEO } from "astro-seo";

let frontmatter = Astro.props.frontmatter;
const postImages = import.meta.glob(
  "/src/assets/blog/**/*.{jpeg,jpg,png,gif,webp}",
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>{`${frontmatter.title} - Wolf Yuan`}</title>
    <SEO
      description={frontmatter.description}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: frontmatter.description,
          type: "article",
          image: (await postImages[frontmatter.image]()).default.src,
        },
        article: {
          publishedTime: frontmatter.publish,
          modifiedTime: frontmatter.modify,
          authors: frontmatter.authors,
          tags: frontmatter.tags,
        },
      }}
      twitter={{
        title: frontmatter.description,
        card: "summary",
        site: "@wolfyuan1135",
      }}
    />
    <link rel="me" href="https://mastodon.wolf-yuan.dev/@wolf" />
  </head>
  <body class="bg-gray-800 text-white">
    <Nav />

    <div class="sm:max-w-6xl mx-auto sm:px-7">
      <div
        class="relative block sm:rounded-xl bg-center bg-no-repeat bg-cover mx-auto w-full pt-[40%] sm:pt-[30%] z-[5] mb-4 before:sm:rounded-xl before:content-[''] before:absolute before:inset-0 before:block before:bg-gradient-to-t before:from-gray-900 before:from-30% before:opacity-90 before:to-transparent before:z-[-5]"
        style={`background-image: url('${(await postImages[frontmatter.image]()).default.src}')`}
      >
        <div class="px-8 py-6">
          <h1 class="py-4 text-3xl font-extrabold md:text-4xl">
            {frontmatter.title}
          </h1>
          <p class="py-2 text-lg text-gray-300 md:text-xl">
            {frontmatter.description}
          </p>
        </div>
      </div>
    </div>

    <div class="max-w-6xl mx-auto">
      <div class="mx-7">
        <slot />
      </div>
    </div>

    <Footer />
    <Noscript />
  </body>
</html>
